# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
build/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Lint and formatting
.mypy_cache
.ruff_cache

# Lock file
poetry.lock

# Celery stuff
celerybeat-schedule
celerybeat.pid

# VsCode
.vscode
